<body>
    <div class="container">
        <h1>Math Calculation</h1>
        <div class="content">
            <h2 class="padding"><u>Area of Triangle</u></h2>
            <Triangle-Area class="forms, padding"></Triangle-Area>
        </div>
        <div class="content1">
            <h2><u>Volume of Pyramid</u></h2>
            <Pyramid-Volume class="forms"></Pyramid-Volume>
        </div>
        <div class="footer">
            &copy; Copyright. All Rights Reserved | Developed by Nithishkumar P
        </div>
    </div>

</body>